body {
display: flex;
flex-direction: column;
 justify-content: flex-start;
background: linear-gradient(#e66465, #9198e5);
margin: 10px;
padding: 0;
}

img {
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}

table, th, td {
  border: 1px solid black;
  width:auto;
  max-width:500px;
}

a:hover {color: blue;}

a {
padding: 5px;
}

